.header{
    background-color: #54EB21;
    display: flex; 
    height: 80%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: black;
}

iframe{
    width: 80%;
}

.row{
    margin-left: 2rem;
}

.sideBar{
    border-right: 1px solid black;
}

.content{
    padding-top: 2rem;
    /* padding-left: 10%;
    padding-right: 15%; */
}

footer{
    background-color: #4040ff;
    display: flex;
    position: fixed;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 8em;
    height: 7%;
    margin-top: -2.5em;
    border-radius: 20px 0 0 0;
}

footer > img {
    size: 2px;
}